extends ../layout/base 
block content 
	.container.mb-5
		p.text-center.h1.fw-bold EDIT DATA
		form(role='form',method='post' action='/customers/edit/#{(id==undefined) ? data.id : id}' enctype="multipart/form-data")
			.row
				.col-xs-6
					.box-body
						- if (messages.msg_error) 
							.alert.alert-danger.alert-dismissible 
								button.close(type='button', data-bs-dismiss='alert', aria-hidden='true')
								h4
									i.icon.fa.fa-ban
									|  Peringatan 
								| !{messages.msg_error}
						- if (messages.msg_info) 
							.alert.alert-success.alert-dismissible 
								button.close(type='button', data-bs-dismiss='alert', aria-hidden='true')
								h4
									i.icon.fa.fa-ban
									|  Berhasil 
								| !{messages.msg_info}
						.form-group.mt-3
							label
								| Nama Alat Musik
							input(type='text',value="#{data.name}",name='name',placeholder='Tambah Alat Musik', autofocus).form-control
						.form-group.mt-3
							label
								| Deskripsi
							input(type='text',value="#{ (address == undefined) ? data.address : address }",name='address',placeholder='Tambah Deskripsi').form-control
						.form-group.mt-3
							label
								| Harga
							input(type='text',value="#{ (email == undefined) ? data.email : email }",name='email',placeholder='Tambah Harga').form-control
						.form-group.mt-3
							label
								| Stock
							input(type='text',value="#{ (phone == undefined) ? data.phone : phone }",name='phone',placeholder='Tambah Stock').form-control
						.form-group.my-3
							label
								| Gambar 
							input(type='file',value="#{ (gambar == undefined) ? data.gambar : gambar }",name='gambar',placeholder='Edit Gambar Makanan').form-control
						.box-footer
							input(type="hidden",name="_method", value="PUT")
							button(type='submit').btn.btn-primary.me-3.my-2
								i.fa.fa-pencil 
								|  Edit
							a(href='/customers').btn.btn-primary.pull-right.my-2
								| Back